.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.stores{
    margin: 20px 0;
    color: white;
    text-align: center;
}

.stores .locations{
    text-align: left;
    width: 400px;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    height: 280px;
}

.stores .locations h3{
    margin: 20px 0;
}

.stores .locations p{
    margin: 10px 0;
}

.stores .locations h3{
    color: #007eff;
    border-bottom: 1px solid #007eff;
}
