.clear{
    clear: both;
}

.container-principal{
    padding: 0;
    width: 100%;
    max-width: 1280px;
    margin: 10px auto 0 auto;
}

.container-principal .category{
    float: left;
    width: 100%;
    max-width: 240px;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    margin-bottom: 5px;
}

.container-principal .category h2{
    background-color: #070709;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.container-principal .category ul li{
    list-style-type: none;
    margin-top: 10px;
}

.container-principal .category ul li a{
    padding: 5px;
    display: block;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
}

.container-principal .category ul li a:hover{
    border: 1px solid royalblue;
}

.container-principal .container-product{
    float: right;
    width: 100%;
    max-width: 1020px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.container-principal .product{
    width: 100%;
    max-width: 190px;
    color: white;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: rgb(27, 27, 27);
    transition: 280ms;
    margin: 0 5px 5px 0;
}

.product .img-product{
    width: 100%;
}

.product .img-product img{
    width: 100%;
}

.product .title-product{
    margin-top: 5px;
    width: 100%;
    height: 50px;
}

.product .title-product p{
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product .price-product{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product .price-product .canceled{
    text-decoration: line-through;
    font-size: 14px;
    color: royalblue;
}

.product .price-product h2{
    font-size: 25px;
}

.product .buy{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    background-color: royalblue;
    margin-top: 10px;
    position: relative;
    top: 50px;
    transition: 300ms;
}

.product:hover{
    border: 1px solid royalblue;
    background-color: rgb(36, 36, 36);
}

.product:hover .buy{
    top: 0;
}

.product .buy:hover{
    background-color: rgb(43, 73, 161);
}